# 忽略所有文件
*
!*/
# 二级目录
!*/*.cls
!*/*.tex
!*/*.md

#三级目录
!*/*/*.cls
!*/*/*.tex
!*/*/*.md

#四级目录
!*/*/*/*.cls
!*/*/*/*.tex
!*/*/*/*.md

# 一级目录，不忽略文件.gitignore和*.cls *.tex *.md *.markdown
!.gitignore
!*.cls
!*.tex
!*.md
