# 忽略所有文件
*
!*/
# 不忽略目录
!*/*.cls
!*/*.tex
!*/*.md
!*/*/*.cls
!*/*/*.tex
!*/*/*.md
# 不忽略文件.gitignore和*.cls *.tex *.md *.markdown
!.gitignore
!*.cls
!*.tex
!*.md
#忽略的文件
*.pdf
*.aux
*.log
*.out
*.gz
*.thm
*.toc
*.fdb_latexmk